:root {
    --text-color: #fff;
    --primary-color: #333;
    --background-color-div: #1e1e1e;
    --primary-page-color: rgb(141, 41, 161);
}

body,
html {
    height: 100%;
    margin: 0;
}

body {

    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyMjNlcjVlZXp1bXo4ZDcyMW1lc3R3bDBlcHJtZWdjMjJwNWg1NWdpMiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/A06UFEx8jxEwU/source.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
}

h1 {
    font-family: 'Courier New', Courier, monospace;

}

footer a {
    color: var(--text-color);
    text-decoration: none;

}

.gradient {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.card-container {
    display: flex;
    height: auto;

}

.card-container img {
    max-width: 40%;
    margin: 10px;
    border: #333 solid 5px;
}

.login-container {
    padding: 5px 20px;
    width: 40%;
    margin-bottom: 60px;

}

.login-credentials {
    display: flex;
    width: 100%;
    gap: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.text-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 5px 20px;
}

.description {
    background-repeat: no-repeat;
    background-color: var(--background-color-div);
    background-size: cover;
    height: auto;
    width: auto;
    margin-bottom: 80px;
    transform: skewY(-4deg);

}

.description-info {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin: 40px 10px 10px 20px;
    padding: 90px 10px;
}

.description-info img {
    height: 300px;
    width: 300px;
    flex-shrink: 0;
}

.description-info div {
    flex: 1;
}

.information-project {
    position: relative;
    display: flex;
    background-color: rgb(12, 12, 12);
    color: white;
    width: auto;
    height: auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    height: 700px;
    width: 900px;
    max-width: 100%;
    max-height: 100%;
    margin: 50px auto;
}

.img-container img {
    height: 700px;
    width: 900px;
}

.background-forms {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register {
    background-color: var(--background-color-div);
    height: auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    min-width: 175px;
}

.boton-register {
    border-width: 3px;
    border-color: var(--primary-page-color)
}