:root {

    --bee-color: #f0bd03;
    --shadow-color: 0 4px 32px rgba(0, 0, 0, 0.3);
}

html,
body {
    margin: 0;
    min-height: 100vh;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top left, rgba(140, 140, 140, 0.18), transparent 24%),
        radial-gradient(circle at bottom right, rgba(149, 149, 149, 0.14), transparent 22%),
        linear-gradient(180deg, #0b0b0b 0%, #171717 48%, #000000 100%);
    color: var(--text-main);

}

body {
    color: white;

}

img {
    max-height: 100vh;
    max-width: 100%;
}



.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 13vh;
    background: rgba(19, 19, 19, 0.767);
    backdrop-filter: blur(10px) saturate(180%);
    z-index: 9999;
    border: 0 !important;
}

#container-index {
    padding-top: 15vh;
}

/*aca se cambia el tamaño de la abeja del navbar*/
/*centrar todo HACER */
nav img {
    width: 80px;
    height: 80px;
    min-height: 80px;
    min-width: 80px;
}

nav button svg {

    margin: 5px;

}

.nav-item a {

    font-size: 23px;
}

.navbar-nav {
    justify-content: end;
    margin-left: auto;
}


nav form {
    margin: 0 30px;
}




.form-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;


}

.login-container {
    height: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    border: 3px solid var(--bee-color)
}



.login-container img {
    width: 230px;
    height: 230px;
}

.login-container h1 {

    display: inline;
    font-style: italic;
    align-content: center;
    font-size: 50px;
    padding: 20px;

}



.login-container input::placeholder {
    color: #ffffff;
}

.login-container input {
    margin: 5px 0px;
    max-width: 50%;
    color: white;
    font-style: italic;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(160, 160, 160, 0.608);
    border-radius: 10px;

}

.login-container input:focus {
    color: white;
    outline: none;
    border: 1px solid #646464;
    background: rgba(0, 0, 0, 0.204);

}

.login-container button {
    border-radius: 12px;
    height: 40px;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, #ffffff, #f2f2f2);
    color: #111;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-container button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #3aa5ed, #1d7395);
    color: white;
    box-shadow: 0 8px 20px rgba(0, 133, 177, 0.35);
}

.login-container button:active {
    transform: translateY(0px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-register {
    height: 70%;
    min-width: 50vw;

}

.about-container {

    display: flex;
    margin: 20px 40px 30px 40px;
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(160, 160, 160, 0.608);
    padding: 20px;
    font-family: monospace;
    box-shadow: var(--shadow-color);


}

.about-info img {
    max-width: 80%;
    max-height: 60%;
}

.about-info h1 {
    font-size: 70px;
}

.about-info h2 {
    font-size: 50px;
    margin: 10px 0px;
}


.about-info h3 {
    font-size: 40px;
}


.turn-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
    padding: 20px;

    margin: 0px 8% 0px 27%;
    transition: all 0.2s ease;
}

@media (max-width: 830px) {

    .turn-container {
        margin: 0px 5% 0px 30%;
    }
}

@media (max-width: 645px) {

    .turn-container {
        margin: 0px 3% 0px 37%;
    }
}

.turn-article {
    background: #1e293b;
    border-radius: 14px;
    overflow: hidden;
    transition: 0.25s ease;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
    border: gray solid 1px;
    transition: background-color 0.25s ease, transform 0.25s ease;

}

.turn-article:hover {
    background: #0e131b;
}


.turn-article img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.turn-content {
    padding: 12px;
}

.turn-content h2 {
    font-size: 1rem;
    margin-bottom: 8px;
    color: white;
}

.turn-content p {
    font-size: 0.85rem;
    color: #cbd5e1;
}

.turn-container a {
    text-decoration: none;
}

.left-container {
    position: fixed;
    left: 0;
    width: 220px;
    top: 0px;
    height: 100vh;
    background: rgba(12, 12, 12, 0.658);
    border: 2px solid rgba(27, 27, 27, 0.308);
    overflow: hidden;
    backdrop-filter: blur(10px) saturate(180%);
    transition: width 0.35s ease;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
    padding: 20vh 0 0 0;
    transition: all 0.25s ease;

}


@media (max-width: 575px) {
    .turn-container {}

    .left-container {
        padding: 30vh 0 0 0;
        width: 200px;
    }

    .navbar {
        height: 30vh;
    }
}

@media(max-width: 435px) {
    .left-container {
        opacity: 0;
    }

    .turn-container {
        margin: 0px 0 0px 0;

    }
}

@media (max-width: 315px) {


    .navbar {
        height: 35vh;
    }


}

.info-left-container {
    opacity: 1;
    padding: 20px;

    color: white;
}



.info-left-container h2 {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.info-left-container input {
    width: 100%;

    padding: 12px;

    margin-bottom: 15px;

    border: none;
    border-radius: 10px;

    background: #1e293b;

    color: white;
}

.category-container {}

.info-left-container a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}